body {
    background-image: url("../images/background-img-farm.jpg");
    background-size: 100%;
}

h1 {
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 90px;
}

.container {
    margin-top: 120px;
}

#row1 {
    margin-bottom: 25px;
}

.allTotals {
    font-size: 18px;
    font-family: serif;
}

.winslosses {
    font-size: 18px;
    font-family: serif;
}

.crystal {
    height: 100px;
    width: 100px;
    background: red;
    margin-bottom: 0;
}